@tailwind base;
@tailwind components;
@tailwind utilities;

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.epilogue {
  font-family: "Epilogue", sans-serif;
}

@font-face {
  font-family: "SFPro";
  src: url("../src/font/sfprodisplay.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.sfpro{
  font-family: "SFPro";
}

.gradient-container {
  /* width: 100vw;
  height: 100vh; */
  background: linear-gradient(
    -45deg,
    #000000,
    #000000,
    #2e2e2e,
    #000000,
    #000000
  );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  overflow-x: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.customButton {
  border: none;
  outline: none;
  background-color: #c23df5;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #ce94e6;
}

.customButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #ce94e6;
}
.Btn-Container {
  display: flex;
  width: 170px;
  height: 50px; /* Set a fixed height to ensure the text is vertically centered */
  background-color: #1d2129;
  border-radius: 40px;
  box-shadow: 2px 0px 2px #bebebe;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
}

.icon-Container {
  width: 45px;
  height: 45px;
  background-color: #c23df5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #1d2129;
}

.text {
  flex-grow: 1;
  text-align: center;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1.2px;
  display: flex; /* Ensures center alignment inside the container */
  justify-content: center; /* Horizontally centers the text */
  align-items: center; /* Vertically centers the text */
}

.icon-Container svg {
  transition-duration: 1.5s;
}

.Btn-Container:hover .icon-Container svg {
  transition-duration: 1.5s;
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}
