@tailwind base;
@tailwind components;
@tailwind utilities;


.space-grotesk{
  font-family: "Space Grotesk", sans-serif;
}

.epilogue {
  font-family: "Epilogue", sans-serif;
}

.gradient-container {
  /* width: 100vw;
  height: 100vh; */
  background: linear-gradient(-45deg, #000000, #000000, #2e2e2e, #000000, #000000);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  overflow-x: hidden;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}